@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.App {
    font-family: poppins;
    .btn-secondary {
        font-size: 16px;
        font-weight: 700;
        background-color: transparent;
        border: 3px solid #FFFFFF;
        border-radius: 100px;
        max-width: 200px;
        width: 100%;
        line-height: 1.7;
    }
    .navbar {
        .logo {
            max-width: 200px;
            width: 100%;
        }
    }
    .navbar-nav {
        a {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            @media(max-width: 991px) {
                font-size: 30px;
            }
        }
        .login-btn {
            border: 3px solid #FFFFFF;
            border-radius: 100px;
        }
        .joingame-btn {
            border: 3px solid #FF8E15;
            border-radius: 100px;
            background-color: #FF8E15;
            color: #000;
        }
    }
    .footer-outer {
        border: 1px solid #ECECEC;
        color: #7D7D7D;
        font-size: 12px;
        font-weight: 500;
        a {
            color: #7D7D7D;
        }
    }
    .homepage-banner {
        background-image: url(../images/homepage-banner-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 200px 0;
        @media(max-width: 767px) {
            padding: 150px 0 75px;
        }
        h1 {
            font-weight: 800;
            font-size: 85px;
            // line-height: 98%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            line-height: 125%;
            @media(max-width: 767px) {
                font-size: 50px;
            }
        }
        .text-left {
            text-align: left;
        }
        .banner-heading-highlight {
            background-color: #000;
            margin-left: -15px;
            @media(max-width: 767px) {
                margin-left: 0;
            }
        }
        .col-md-6 {
            padding-left: 80px;
        }
        .banner-para {
            font-weight: 500;
            font-size: 18px;
            line-height: 157.5%;
            color: #FFFFFF;
        }
        .home-banner-overlay {
            background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.9;
            clip-path: polygon(0 0, 69% 0%, 51% 100%, 0% 100%);
            @media(max-width: 767px) {
                clip-path: none;
            }
            }
        .text-white.text-md-start.text-center {
            z-index: 99;
        }
    }
    .slick-slider {
        margin-top: -100px;
        @media(max-width: 767px) {
            margin: 0 !important;
        }
        .slick-prev {
            left: 45%;
            z-index: 99;
            bottom: -50px;
            top: auto;
            @media(max-width: 1199px) {
                left: 42%;
            }
            @media(max-width: 767px) {
                left: 35%;
            }
            @media(max-width: 480px) {
                left: 33%;
            }
            @media(max-width: 380px) {
                left: 30%;
            }
            &:before {
                content:'';
                background-image: url(../images/slider/left-arrow.svg); 
                height: 50px;
                width: 50px; 
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .slick-next {
            right: 48%;
            z-index: 99;
            bottom: -50px;
            top: auto;
            @media(max-width: 1199px) {
                right: 47%;
            }
            @media(max-width: 767px) {
                right: 47%;
            }
            @media(max-width: 480px) {
                right: 46%;
            }
            @media(max-width: 380px) {
                right: 45%;
            }
            &:before {
                content:'';
                background-image: url(../images/slider/right-arrow.svg); 
                height: 50px;
                width: 50px; 
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .slider-cards {
        .card {
            box-shadow: 0px 1px 7px 0px #b7b2b2;
            border-radius: 8px;
            max-width: 420px;
            width: 100%;
            margin: 0 auto;
            min-height: 271px;
            @media screen and (min-device-width: 1024px) and (max-device-width: 1399px) { 
                min-height: 300px;
             }
        }
        .card-title {
            img {
                max-width: 38px;
                width: 100%;
            }
        }
        .card-body {
            h6 {
                font-weight: 400;
                font-size: 18px;
                line-height: 157.5%;
                @media(max-width: 767px) {
                    font-size: 16px;
                }
                @media(max-width: 400px) {
                    font-size: 15px;
                }
            }
            p {
                color: #FF8E15;
                text-align: center;
                letter-spacing: 0.045em;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
            }
        }
        .cover-img-card {
            img {
                flex: 1 1 100%;
            }
        }
    }
    .forms {
        h1 {
            font-weight: 800;
            font-size: 70px;
            line-height: 98%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: #FFFFFF;
            line-height: 125%;
            @media(max-width: 767px) {
                font-size: 50px;
                line-height: 120%;
            }
        }
    }
    .login-page, .form-layouts {
        background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
        &.query-page {
            @media(max-width: 991px) {
                background: none;
            }
        }
        .login-form, .registration-form {
            background: #F0F2F5;
            box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            max-width: 535px;
            width: 100%;
            margin: 0 auto;
            text-align: left;
            .form-inputs {
                max-width: 420px;
                width: 100%;
                label {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #231F20;
                }
                input {
                    border: 1px solid #D9D9D6;
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                    height: 50px;
                    &:focus {
                        border: 2px solid #FF8E15;
                    }
                }
                select {
                    border: 1px solid #D9D9D6;
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                    height: 50px;
                    cursor: pointer;
                    &:focus {
                        border: 2px solid #FF8E15;
                    }
                }
                a {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 157.5%;
                    text-align: center;
                    letter-spacing: 0.045em;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: #000;
                }
                .form-btn {
                    background: #FF8E15;
                    border-radius: 100px;
                    border: 0;
                    box-shadow: none;
                    outline: none;
                    max-width: 320px;
                    width: 100%;
                    display: block;
                    margin: auto;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 157.5%;
                    text-align: center;
                    letter-spacing: 0.045em;
                    text-transform: uppercase;
                    height: 50px;
                    &.register-btn {
                        background-color: #000;
                    }
                }
            }
            .register-section {
                h2 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;                                        
                }
            }
        }
    }
    .registration-page {
        background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
    }
    .query-page-form {
        background: none !important;
    }
    .registration-form {
        max-width: 1000px !important;
        .form-inputs {
            max-width: 860px !important;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .mb-3 {
                max-width: 420px !important;
                width: 100%;
                display: inline-block;
                @media(max-width: 767px) {
                    max-width: initial !important;
                }
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #000;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: -4px;
                width: 25px;
                height: 25px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 17px;
                height: 17px;
                background: #FF8E15;
                position: absolute;
                top: 0;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            .form-check {
                padding-left: 0;
            }
            .radio-outer {
                .mb-3 {
                    display: flex;
                    gap: 20px;
                }
            }
        }
        .select-plan-section {
            &.plan-cards {
                background: #FFFFFF;
                border-radius: 16px;
                max-width: 420px;
                width: 100%;
                @media(max-width: 767px) {
                    max-width: 100%;
                }
            }
            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 157.5%;
                letter-spacing: 0.045em;
            }
            h2 {
                text-align: center;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
            }
            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
        }

    }
    .query-page {
        .lets-find {
            background-image: url(../images/forms/lets-find-bg.png);
            max-width: 920px;
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            left: 0;
            bottom: -126px;
            @media(max-width: 991px) {
                background-size: 100% 100%;
                background-image: url(../images/forms/lets-find-bg-sm.png);
            }
            @media(max-width: 767px) {
                flex-direction: column;
                max-width: 330px;
                bottom: -170px;
            }
            p {
                color: #fff;
                font-weight: 500;
                font-size: 24px;
                line-height: 135%;
            }
            select {
                border: 1px solid #D9D9D6;
                border-radius: 0;
                outline: none;
                box-shadow: none;
                height: 50px;
                font-weight: 500;
                font-size: 24px;
                line-height: 135%;
                max-width: 370px;
                cursor: pointer;
                @media(max-width: 767px) {
                    max-width: 230px;
                    width: 100%;
                }
            }
            &.player-dash-search {
                @media(max-width: 767px) {
                    bottom: -170px;
                }
            }
            &.player-dash-search {
                padding-left: 50px;
                padding-right: 50px;
                select {
                    max-width: 275px;
                    @media(max-width: 991px) and (min-width: 768px) {
                        max-width: 230px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .results-page {
        background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
    }
    .results-page-description {
        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            border-bottom: 1px solid #D9D9D6;
            padding-bottom: 35px;
            @media(max-width: 767px) {
                font-size: 30px;
                padding-bottom: 16px;
            }

        }
        .slider-cards {
            .card {
                box-shadow: none;
                border: 1px solid #D9D9D6;
                border-radius: 20px;
                max-width: 310px;
                width: 100%;
        }
        }
        h4 {
            letter-spacing: 0.14em;
            text-transform: uppercase;
            color: #231F20;
            opacity: 0.7;
            font-weight: 500;
            font-size: 18px;
            line-height: 157.5%;
        }
    }
    .slider-cards {
        .cards-layout {
            background-color: #FBFBFB;  
            max-width: 310px;
            width: 100%;
            min-height: 225px;     
            box-shadow: none;
            border: 1px solid #D9D9D6;
            border-radius: 20px;
            cursor: pointer;
            &.static {
                padding: 35px;
                min-height: auto;
                img {
                    transform: inherit;
                    position: initial;
                    margin: 0 auto;
                }
                h6 {
                    padding-top: 0;
                    margin: 0;
                }
                .card-body {
                    padding-bottom: 0;
                }
            }
            img {
                max-width: 105px;
                width: 100%;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 10px;
            }
            h6 {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #FF8E15;
                padding-top: 75px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #000000;
                text-transform: initial;
                @media(max-width: 1199px) and (min-width: 1024px) {
                    font-size: 15px;
                }
            }
            .card-title {
                margin: 0;
            }
        }
    }
    .results-slider-outer {
        .slick-list {
            padding-top: 60px !important;
            padding-left: 0;
            .slider-cards {
                outline: none;
            }
        }
        &.slick-slider {
            margin-top: 0;
            .slick-next {
                right: -12px;
                top: 50%;
                @media (max-width: 1024px) {
                    right: 47%;
                    top: auto;
                }
                @media (max-width: 767px) {
                    right: 47%;
                }
                @media(max-width: 480px) {
                    right: 46%;
                }
                @media(max-width: 380px) {
                    right: 45%;
                }
            }
            .slick-prev {
                left: -65px;
                top: 50%;
                @media (max-width: 1024px) {
                    left: 42%;
                    top: auto;
                }
                @media (max-width: 767px) {
                    left: 35%;
                }
                @media(max-width: 480px) {
                    left: 33%;
                }
                @media(max-width: 380px) {
                    left: 30%;
                }
            }
        }
    }
    .results-slider-section {
        margin-bottom: 120px;
        .slick-disabled {
            display: none !important;
            @media (max-width: 1024px) {
                display: block !important;
            }
        }
    }
    .about-page-banner {
        background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
    }
    .about-us-description {
        max-width: 860px;
        margin: 0 auto;
        text-align: left;
        &.about-card {
            @media(max-width: 767px) {
                padding: 0 4px;
            }
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #7D7D7D;
        }
        h6 {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
        }
        .aboutus-cards {
            .card {
                box-shadow: 0px 1px 7px 0px #b7b2b2;
                border-radius: 8px;
                max-width: 420px;
                width: 100%;
            }
        }
    }
    .founder-by-section {
        max-width: 860px;
        margin: 0 auto;
        padding: 100px 0;
        @media(max-width: 767px) {
            padding: 60px 0px;
            max-width: 400px;
        }
        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #231F20;
        }
        h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #FF8E15;
            @media(max-width: 767px) {
                line-height: 35px;
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #7D7D7D;
        }
        img {
            max-width: 130px;
            width: 100%;
            min-width: 90px;
        }
    }
    .slick-list {
        
    }
    .slick-slide {
        @media(max-width: 767px) {
            margin: 0 10px;
        }
    }
    .profile-banner-section {
        @media(max-width: 767px) {
            flex-direction: column;
        }
        img {
            max-width: 200px;
            width: 100%;
            @media(max-width: 767px) {
                max-width: 150px;
            }
        }
        .banner-content {
            h1 {
                font-weight: 800;
                font-size: 70px;
                line-height: 120%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                color: #FFFFFF;
                border-bottom: 2px solid #ffffff30;
                @media(max-width: 767px) {
                    font-size: 50px;
                    border-bottom: none;
                }
                @media(max-width: 360px) {
                    font-size: 44px;
                }
            }
                .location-ny {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    color: #FFFFFF;
                    padding-left: 35px;
                    @media(max-width: 767px) {
                        font-size: 20px;
                    }
                }
                .location-url {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    text-decoration-line: underline;
                    color: #FFFFFF;
                    @media(max-width: 767px) {
                        font-size: 20px;
                    }
                }
        }
    }
    .profile-cards {
        .slider-cards {
            padding-top: 80px;
        }
    }
    .badges-outer {
        .no-badge {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #231F20;
            opacity: 0.6;
            font-style: italic;
        }
        .current-info {
            h2 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #231F20;
            }
        }
    }
    .add-new-card {
        border: 0;
        padding: 23px 0;
        padding-top: 100px;
        h6 {
            font-weight: 700;
            font-size: 16px;
            line-height: 157.5%;
            text-align: center;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            color: #7D7D7D;
        }
    }
    .player-dash {
        .form-btn {
            background: #FF8E15;
            border-radius: 122.619px;
            border-color: #FF8E15;
            max-width: 206px;
            width: 100%;
            margin: 0  !important;
        }
        .lets-find {
            max-width: 1000px;
            gap: 20px;
        }
    }
    .player-dash-cards {
        padding-top: 62px;
        .cards-layout {
            background-color: #FBFBFB;
            padding: 44px 0 26px 0;
            max-height: 230px;
            min-height: 230px;
            border: 1px solid #D9D9D6;
            border-radius: 20px;
        }
    }
    .horizontal-bars {
        background: #FFFFFF;
        border: 1px solid rgba(35, 31, 32, 0.1);
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #231F20;
        }
    }
    .select-plans {
        @media(min-width: 768px) {
            width: 50% !important;
        }
    }
    .slick-track {
        @media(max-width: 1399px) { 
            display: flex;
            gap: 10px;
            padding-bottom: 10px;
         }
        }
        .heading-with-icons {
            @media(max-width: 991px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img {
                position: absolute;
                left: 10px;
                top: 4px;
                max-width: 42px;
                @media(max-width: 991px) {
                    position: static;
                }
            }
            h2 {
                padding-left: 60px;
                @media(max-width: 991px) {
                    padding: 0;
                    width: 100%;
                    padding-bottom: 20px;
                }
            }
        }
        .location-details {
            img {
                max-width: 20px;
                width: 100%;
                top: 26px;
            }
        }
        .make-recommendation {
            background-image: url(../images/backgrounds/make-recommendation-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 410px;
            width: 100%;
            position: absolute;
            right: 50px;
            top: 30px;
            gap: 20px;
            cursor: pointer;
            @media(max-width: 767px) {
                background: #231F20;
                border-radius: 100px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 33%);
                gap: 10px;
                max-width: 320px;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.045em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media(max-width: 767px) {
                    font-size: 16px;
                }
            }
            img {
                max-width: 28px;
                width: 100%;
            }
        }
        .current-info-icon {
            top: 53px !important;
        }
        .navbar-toggler {
            outline: none;
            box-shadow: none;
            border: 0;
        }
        .navbar-toggler-icon {
            background-image: url(../images/icons/nav-bars-icon.svg);
            background-size: 20px;
       }
        .nav-active-custom {
            display: flex;
            align-items: flex-start;
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 9999;
            left: 0;
            right: 0;
            padding-top: 16px;
            .navbar-toggler-icon {
                background-image: url(../images/icons/cross-icon.svg);
            }
            .navbar-nav {
                padding-top: 50%;
                gap: 32px;
            }
        }
        .login-signup {
            @media(max-width: 991px) {
                display: flex;
                flex-direction: column;
                gap: 32px;
                max-width: 295px;
                width: 100%;
            }
            .joingame-btn {
                @media(max-width: 991px) {
                    margin: 0 !important;
                }
            }
        }
        .query-page-outer {
            @media(max-width: 991px) {
                background: linear-gradient(305.75deg, #DB7200 22.29%, rgba(255, 148, 32, 0.87) 71.25%);
            }
            .form-inputs {
                @media(max-width: 767px) {
                    padding-top: 110px !important;
                    margin-top: -114px;
                }
            }
        }
        .profile-mobile-slider {
            .slick-list {
                padding-top: 0 !important;
            }
            .slider-cards {
                &.col-md-12 {
                    padding-top: 0 !important;
                }                    
            }
            .results-slider-outer {
                margin-bottom: 80px;
                @media(max-width: 767px) {
                    margin-bottom: 80px !important;
                }
            }
        }
    .filter-bar-controls {
        a, button {
            font-weight: 700;
            font-size: 16px;
            line-height: 157.5%;
            letter-spacing: 0.045em;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #231F20;
        }
        a {
            padding: 0.375rem 0.75rem;
            &:before {
                content: url(../images/icons/back-arrow.svg);
                position: absolute;
                left: -14px;
                @media(max-width: 767px) {
                    left: 0;
                }
            }
        }
        button {
            background: none;
            border: none;
            box-shadow: none;
            &:focus {
                color: #231F20;
            }
            &:before {
                content: url(../images/icons/save-icon.svg);
                position: absolute;
                left: -20px;
                top: 8px;
                @media(max-width: 767px) {
                    left: -8px;
                }
            }
        }
    }
    .filters-section {
        @media(max-width: 991px) {
            flex-direction: column;
            padding: 24px;
        }
        background: #F0F2F5;
        box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        padding: 24px 80px;
        gap: 14px;
        button {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #231F20;
            text-align: left;
            background: transparent;
            border: 0;
            box-shadow: none !important;
            padding: 0;
            &:before {
                content: url(../images/icons/filter-icon.svg);
                position: absolute;
                left: -42px;
                top: 5px;            
            }
            &:after {
                display: none;
            }
        }
        .filter-select-val {
            background: #FFFFFF;
            border: 1px solid rgba(35, 31, 32, 0.1);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #231F20;
            padding: 7px 14px;
            user-select: none;
        }
    }
}
.travel-team-modal {
    max-width: 500px;
    width: 100%;
    font-family: 'poppins';
    margin: 0 auto;
    .modal-header {
        justify-content: center;
        .h4 {
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #231F20;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .modal-content {
        border: none;
        background-color: #F0F2F5;
    }
    .modal-body {
            max-width: 420px;
            margin: 0 auto;
            h6 {
                font-size: 16px;
                line-height: 157.5%;
                display: flex;
                align-items: center;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                color: #231F20;
                opacity: 0.7;
            }
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 157.5%;
                display: flex;
                align-items: center;
                color: #231F20;
            }
            .trainer-img {
                max-width: 200px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
    }
    .btn-close {
        display: none;
    }
    .premium-feature {
        background: #231F20;
        color: #fff;
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        padding: 4px 15px;
        h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0;
            img {
                margin-right: 10px;
                margin-bottom: 5px;
            }
        }
    }
}
.make-recommendation-modal {
    max-width: 1000px;
    width: 100%;
    font-family: 'poppins';
    .modal-content {
        background: #F0F2F5;
        box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        margin: 0 auto;
        text-align: left;
    }
    .form-inputs {
        max-width: 420px;
        width: 100%;
        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #231F20;
        }
        input, textarea {
            border: 1px solid #D9D9D6;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            height: 50px;
            resize: none;
            &:focus {
                border: 2px solid #FF8E15;
            }
        }
        select {
            border: 1px solid #D9D9D6;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            height: 50px;
            cursor: pointer; 
            &:focus {
                border: 2px solid #FF8E15;
            }
        }
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 157.5%;
            text-align: center;
            letter-spacing: 0.045em;
            text-decoration-line: underline;
            text-transform: uppercase;
            cursor: pointer;
            color: #000;
        }
        .form-btn {
            background: #FF8E15;
            border-radius: 100px;
            border: 0;
            box-shadow: none;
            outline: none;
            max-width: 320px;
            width: 100%;
            display: block;
            margin: auto;
            font-weight: 700;
            font-size: 16px;
            line-height: 157.5%;
            text-align: center;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            height: 50px;
            &.register-btn {
                background-color: #000;
            }
        }
    }
    .form-inputs {
        max-width: 860px !important;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .mb-3 {
            max-width: 420px !important;
            width: 100%;
            display: inline-block;
            @media(max-width: 767px) {
                max-width: initial !important;
            }
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #000;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: -4px;
            width: 25px;
            height: 25px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 17px;
            height: 17px;
            background: #FF8E15;
            position: absolute;
            top: 0;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .form-check {
            padding-left: 0;
        }
        .radio-outer {
            .mb-3 {
                display: flex;
                gap: 20px;
            }
        }
    }
    .modal-content {
        background: #F0F2F5;
        box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
    }
    .mb-3.px-1.modal-input-w-100 {
        max-width: 100% !important;
    }
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.07em;
        color: #231F20;
        @media(max-width: 767px) {
            font-size: 26px;
            line-height: 34px;
        }
    }
    .btn-close {
        display: none;
    }
    .modal-header {
        border: none;
    }
}
.modal {
    @media(max-width: 575px) {
        padding: 10px !important;
    }
    .modal-dialog {
        @media(max-width: 575px) {
            margin: 0 auto;
        }
    }
}
